.detail-container {
    padding: 8px 0px;
    display: flex;
    flex-flow: row nowrap;
    position: relative;


    mat-card {
        float: left;
        margin: 0 8px 8px 0;
        max-width: 300px;
    }

    &.main {
        width: 300px;
    }

    .comics {
        width: calc(100% - 308px);
        flex: 1;
    }
}


mat-progress-bar {
    height: 6px;
    position: relative;
}